<!-- <app-home-page></app-home-page> -->
<!-- <app-about-page></app-about-page> -->
<!-- <app-contactinfo></app-contactinfo> -->
<!-- <app-hr-login></app-hr-login> -->
<!-- <app-hr-register></app-hr-register> -->
<!-- <app-applyform></app-applyform> -->
<!-- <app-mulesoftcourses></app-mulesoftcourses> -->
<!-- <app-contacts></app-contacts> -->
<!-- <app-vidyasagar></app-vidyasagar> -->



<!-- <app-candidateview></app-candidateview> -->
<!-- <app-adminheader></app-adminheader> -->
<!-- <app-adminhome></app-adminhome> -->
<!-- <app-adminholder></app-adminholder> -->

<!-- <app-dummyheader></app-dummyheader> -->
<!-- <app-forms></app-forms> -->
<!-- <app-mulesoftcourses></app-mulesoftcourses> -->

<app-header></app-header>

    <router-outlet></router-outlet> 

<app-footer></app-footer>

<!-- <app-adminapplyform></app-adminapplyform> -->


<!-- <app-candidatehome></app-candidatehome>
<app-candidatesidebar></app-candidatesidebar> -->

<!-- <app-studentdetailform></app-studentdetailform> -->

<!-- <app-progressbar></app-progressbar> -->
<!-- <app-candidatedetails></app-candidatedetails> -->
