
<body>
  <div class="container">
    <h2 style="margin-right: 500px;">Primary Details</h2>
    <form>
      <!-- name -->
      <div class="input-group">
       
     
        <div class="input-field">
          <label for="firstName">First Name:</label>
          <input type="text" class="form-control" id="firstName">
 
          <div class="text-danger">
            * First Name is required
          </div>
        </div>
 
 
        <div class="input-field">
          <label for="lastName">Last Name :</label>
          <input type="text" class="form-control" id="lastName">
 
          <div class="text-danger">
            * Last Name is required
          </div>
        </div>
 
        <!-- dateOfBirth -->
        <div class="input-field">
          <label>Date of Birth:</label>
          <input type="date" class="form-control" id="dateOfBirth">
 
          <div class="text-danger">
            * Date of Birth is required
          </div>
        </div>
 
        <div class="input-field">
          <label>Gender:</label>
          <div class="select-wrapper">
            <select class="form-control" id="gender">
              <option value="" disabled selected>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div class="arrow-down"></div>
          </div>
          <div class="text-danger">
            * Gender is required
          </div>
        </div>
 
 
        <!-- Contact Us -->
        <!-- WorkEmail -->
        <div class="input-group">
 
          <!-- personalEmail -->
          <div class="input-field">
            <label>Personal Mail:</label>
            <input type="text" class="form-control" id="personalEmail">
 
            <div class="text-danger">
              * Email ID is required
            </div>
          </div>
 
          <!-- personalmobile -->
          <div class="input-field">
            <label>Phone Number:</label>
            <input type="text" class="form-control" id="mobile">
 
            <div class="text-danger">
              * Phone number is required
            </div>
 
          </div>
          <div class="input-field">
            <label>Alternate Phone Number:</label>
            <input type="text" class="form-control" id="mobile">
 
           
          </div>
 
        </div>
 
 
        <!-- Address -->
        <h2 style="margin-right: 500px;">Address</h2>
 
        <div class="input-group">
          <div class="input-field">
            <label>H/No:</label>
            <input type="text" class="form-control" id="currentAddressLine">
 
            <div class="text-danger">
              * house number is required
            </div>
          </div>
 
          <div class="input-field">
            <label>City:</label>
            <input type="text" class="form-control" id="currentCity">
 
            <div class="text-danger">
              * City name is required
            </div>
          </div>
 
          <div class="input-field">
            <label>Pincode:</label>
            <input type="text" class="form-control" id="currentPincode">
 
            <div class="text-danger">
              * Pincode is required
            </div>
          </div>
 
          <div class="input-field">
            <label>State:</label>
            <input type="text" class="form-control" id="currentState">
 
            <div class="text-danger">
              * State is required
            </div>
          </div>
        </div>
 
       
 
        <!-- Education Details -->
        <h2>Education Details</h2><br>
        <div class="input-group">
         
          <div class="input-field">
            <label>Branch:</label>
            <input type="text" class="form-control" id="postGraduationBranch">
          </div>
 
          <div class="input-field">
            <label>CGPA:</label>
            <input type="text" class="form-control" id="postGraduationCGPA">
          </div>
 
          <div class="input-field">
            <label>Year of Completion:</label>
            <input type="text" class="form-control" id="postGraduationYearOfCompletion">
          </div>
       
 
        <!-- Graduation Details -->
     
          <div class="input-field">
           
 
            <label>University/college:</label>
            <input type="text" class="form-control" id="graduationCollege">
          </div>
        </div>
 
          <div class="input-field">
            <label>Course:</label>
            <input type="text" class="form-control" id="graduationBranch">
          </div>
       
     
 
        <!-- submit Button -->
        <div class="input-group">
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>