
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="header">

  <div >
    <div style="text-decoration: underline;">
      
      <a href="" style="font-family: 'Times New Roman', Times, serif;font-size:25px;">FusionIQ.ai</a>
    </div>

    
   
    <div class="search-bar">
      <!-- <i class="fas fa-search search-icon"></i> -->
      <input type="text"  class="search-input" placeholder="Search...">
    </div>
    
    <a href="#"><i class="fa-solid fa-house" style="margin-left:100px; margin-right:3px;"></i>   Home</a>
    <a href="#"><i class="fa-solid fa-inbox"style="margin-left:10px; margin-right:3px;"></i>Inbox</a>
    <div class="dropdown">
      <i class="fa-solid fa-people-roof" style="margin-right: 3px;"></i>
      <a href="#">Customers & Leads</a>
      <div class="dropdown-content">
        <a href="#">Contacts</a>
        <a href="#">Forms& Submissions</a>
      </div>
      <a href="#">
        <i class="fa-regular fa-bell"></i>Notification
      </a>
      
      <!-- <i class="fa-regular fa-user" style="margin-right: 5px;"></i>
      <a href="#">Login</a> -->
      
    </div>
  </div>
  
</div>


