
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<div class="container">
 
  <h2>Forms and Submissions </h2>
  <h4>View submissions here.</h4>
    <div class="analytics">
      <h5>Your website forms</h5>
    </div>
   
 
 
    <div class="card">
      <!-- <i class="fa-solid fa-user-plus" style="margin-right: 5px;"></i> -->
      <div class="left"><h4>Submission-Course</h4> </div>
      <div class="right"> <button (click)="Appsubcourse()" class="button1">View Submissions</button></div>
    </div>
 
    <div class="card">
      <!-- <i class="fa-solid fa-users-gear" style="margin-right: 5px;"></i> -->
      <div class="left"><h4>Application-Home</h4> </div>
      <div class="right"><button (click)="AppHome()" class="button2">View Submissions</button></div>
    </div>
    <div class="card">
      <!-- <i class="fa-solid fa-users-gear" style="margin-right: 5px;"></i> -->
      <div class="left"><h4>Enquiry-contact</h4> </div>
      <div class="right"><button  (click)="Enqcontact()" class="button3">View Submissions</button></div>
    </div>
  </div>
 
 