<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<div class="main-container">
    <div class="home-container">
        <div class="content-container">
            <div class="nav-container">
                <nav class=" nav-bar">
                    <ul class="list">
                        <li><a href="#"class="icon"><i class="fa-solid fa-house"></i></a></li>
                        <li><span class="bar">/</span></li>
                        <li><a href="#" title="Courses" class="courses">Courses</a></li>
                        <li><span class="bar">/</span></li>
                        <li><a href="#" title="PythonFullStack" class="mulesoft">PythonFullStack</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="title">
                    <h1 id="content-h1">PythonFullStack</h1>
                </div>
                <div class="sub-title">
                    <div class="line">
   
                    </div>
                    <div class="caption">
                        <h5>Learn From Industry Experts with Realtime<br> Corporate level training</h5>
                    </div>
                </div>
                <div class="paragraph">
                    <p>Welcome to our comprehensive PythonFullstack course, where we embark on a journey to master the dynamic world of web development using Java technologies. This course is meticulously designed to equip you with the skills and knowledge needed to become a proficient full-stack developer, capable of crafting robust, scalable, and efficient web applications.
 
                        Whether you're a novice eager to dive into the realm of programming or a seasoned developer looking to expand your skill set, this course is tailored to cater to learners of all levels. Guided by industry experts, you'll delve into the core concepts of both front-end and back-end development, leveraging the power of Java to build dynamic and interactive web solutions.
                    </p>
                </div>
                <!-- <div class="button">
                    <div class="apply-button">
                        <button>Apply now<i class="fa-solid fa-angle-right"></i></button>
                    </div>
                    <div class="Roadmap-button">
                        <button>Download Road Map</button>
                    </div>
                </div> -->
                <div class="btn-container buttons">
                    <button class="apply-button" (click)="apply()">Apply now<i class="fa-solid fa-angle-right"></i></button>
                    <button class="Roadmap-button" (click)="onClick()">Download Road Map</button>
                </div>
            </div>
 
        </div>
        <div class="image-container">
           
        </div>
    </div>
    <div class="Bottom-container">
   
        <nav class="nav-list">
            <div class="nav nav-tabs bottom-buttons" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-Overview-tab" data-bs-toggle="tab" data-bs-target="#nav-Overview" type="button" role="tab" aria-controls="nav-Overview" aria-selected="true">Overview</button>
              <button class="nav-link" id="nav-Mentors-tab" data-bs-toggle="tab" data-bs-target="#nav-Mentors" type="button" role="tab" aria-controls="nav-Mentors" aria-selected="false">Mentors</button>
              <button class="nav-link" id="nav-Curriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-Curriculum" type="button" role="tab" aria-controls="nav-Curriculum" aria-selected="false">Curriculum</button>
              <button class="nav-link" id="nav-Projects-tab" data-bs-toggle="tab" data-bs-target="#nav-Projects" type="button" role="tab" aria-controls="nav-Projects" aria-selected="false">Projects</button>
              <button class="nav-link" id="nav-Admission-tab" data-bs-toggle="tab" data-bs-target="#nav-Admission" type="button" role="tab" aria-controls="nav-Admission" aria-selected="false">Admission</button>
              <button class="nav-link" id="nav-Fees-tab" data-bs-toggle="tab" data-bs-target="#nav-Fees" type="button" role="tab" aria-controls="nav-Fees" aria-selected="false">Fees</button>
              <button class="nav-link" id="nav-FAQs-tab" data-bs-toggle="tab" data-bs-target="#nav-FAQs" type="button" role="tab" aria-controls="nav-FAQs" aria-selected="false">FAQs</button>
            </div>
            <div class="scroll-arrow-container">
                <button class="scroll-arrow-button" onclick="scrollTabs()">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-Overview" role="tabpanel" aria-labelledby="nav-Overview-tab" tabindex="0">
                <div class="Overview">
                    <p>This comprehensive program is designed to provide you with a deep understanding of both front-end and back-end development using Python technologies. Led by seasoned industry professionals, this course offers a hands-on approach to mastering the essential skills required to build robust and scalable web applications. <br><span id="span1">Duration:</span> This instructor-led Java Fullstack course is structured to be completed in [X] weeks, with [X] hours of instruction per week.
   
                    <br><span id="span1">Target Audience:</span> This course is suitable for beginners with no prior programming experience as well as intermediate developers looking to enhance their Java Fullstack skills.
                       
                    <br><span id="span1">Prerequisites:</span> While no prior programming experience is required, familiarity with basic programming concepts and a willingness to learn are recommended.</p>
                       
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Mentors" role="tabpanel" aria-labelledby="nav-Mentors-tab" tabindex="0">
                <div class="mentors">
                    <h1>Meet The PythonFullStack Mentors</h1>
                    <div class="mentor-line">
   
                    </div>
                    <div class="mentors-box">
                        <div class="mentor-card">
                            <div class="mentor-image">
   
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
   
                        </div>
                        <div class="mentor-card">
                            <div class="mentor-image">
   
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
   
                        </div>
                        <div class="mentor-card">
                            <div class="mentor-image">
                               
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
                        </div>
                    </div>
   
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Curriculum" role="tabpanel" aria-labelledby="nav-Curriculum-tab" tabindex="0">
                <div class="curriculum">
                    <h6>Here's a glimpse of what the next nine months will entail for you.</h6>
                    <div class="image-line">
 
                    </div>
                    <div class="image-box">
                        <img src="../../assets/image.png" alt="">
 
                    </div>
                    <div class="curriculum-arrow1">
                        <img src="../../assets/down.png" alt="">
 
                    </div>
                    <div class="curriculum-arrow2">
                        <img src="../../assets/down.png" alt="">
 
                    </div>
                    <div class="curriculum-boxes">
                       <div class="box-border1">
                            <div class="icon-box1">
                              <img src="../../assets/copy-writing.png" alt="">
                            </div>
                            <div class="curriculum-box1">
                              <h6>Fundamentals of Python Programming:</h6>
                              <p>You'll start by mastering the fundamentals of Python programming language, including variables, data types, control structures, and object-oriented programming principles </p>
                           
                            </div>
                        </div>
                        <div class="box-border2">
                            <div class="icon-box2">
                                <img src="../../assets/coding.png" alt="">
                               
                            </div>
                            <div class="mini-box2">
 
                            </div>
                            <div class="curriculum-box2">
                                <h6>Front-End Development: </h6>
                                <p>Dive into front-end development using HTML, CSS, and JavaScript. Learn how to create interactive and responsive user interfaces for web applications.</p>
                                <h6> Back-End Development :</h6>
                                <p> Explore server-side programming using python and Django framework. You'll learn how to build RESTful APIs, handle authentication, manage databases, and ensure security in your applications.</p>
   
                            </div>
                        </div>
                        <div class="box-border3">
                            <div class="icon-box3">
                                <img src="../../assets/data-integration.png" alt="">
                               
                            </div>
                            <div class="mini-box3">
 
                            </div>
                            <div class="curriculum-box3">
                                <h6>Database Integration: </h6>
                                <p>Gain hands-on experience with database management systems like MySQL or PostgreSQL. Learn how to perform CRUD operations, manage database connections, and optimize database performance.</p>
                                <h6>Version Control with Git:</h6>
                                <p>Familiarize yourself with version control using Git and GitHub. Learn how to collaborate on projects, manage code changes, and track revisions effectively.</p>
   
                            </div>
                        </div>
                        <div class="box-border4">
                            <div class="icon-box4">
                                <img src="../../assets/eternity.png" alt="">
                               
                            </div>
                            <div class="mini-box4">
 
                            </div>
                            <div class="curriculum-box4">
                                <h6>Deployment and DevOps:</h6>
                                <p>Understand the deployment process and best practices for deploying python Fullstack applications. Explore concepts like Continuous Integration and Continuous Deployment (CI/CD) and learn how to automate the deployment process.</p>
                                <h6>Project-Based Learning: </h6>
                                <p>Apply your knowledge through hands-on projects, where you'll build real-world python Fullstack applications from scratch. These projects will help reinforce your learning and prepare you for real-world scenarios.</p>
   
                            </div>
                        </div>
                        <div class="border-box5">
                            <div class="mini-box5">
   
                            </div>
                            <div class="curriculum-box5">
   
                            </div>
                           
                        </div>
                    </div>
                    <div class="curriculum-card">
                        <h5>Peek out your window; the dream company approaches. Prepare yourself for placement opportunities.</h5>
                        <div class="placement-card">
                            <div class="p-card1">
                                <div class="p-icon1">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Resume preparation and <br>LinkedIn profile review</p>
                                </div>
                               
                            </div>
                            <div class="p-card2">
                                <div class="p-icon2">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Mock Interviews</p>
                                </div>
       
                            </div>
                            <div class="p-card3">
                                <div class="p-icon3">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Placement Assistance</p>
                                </div>
       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="curriculum-underline">
 
                </div>
                <div class="curriculum-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Projects" role="tabpanel" aria-labelledby="nav-Projects-tab" tabindex="0">
                <div class="projects">
                    <p>Projects will be a part of your <span>PythonFullStack</span> Master’s course to consolidate your learning. It will ensure that you have real-world experience in <span>PythonFullStack</span></p>
                    <div class="project-container">
                        <div class="project-card1">
                            <div class="main-card">
                                <div class="front-card">
                                    <h4>Stock Portfolio Tracker</h4>
   
                                </div>
                                <div class="back-card">
                                    <h6>A Python project to track stock portfolios, allowing users to add, remove, and monitor stocks, fetch real-time stock prices using APIs like Alpha Vantage or Yahoo Finance, and visualize portfolio performance over time.</h6>
   
                                </div>
                            </div>
                        </div>
                        <div class="project-card2">
                            <img src="../../assets/sdlc.gif" alt="sdlc">
   
                        </div>
                        <div class="project-card3">
                            <div class="main-card">
                                <div class="front-card">
                                    <h4>Natural Language Processing Chatbot</h4>
   
                                </div>
                                <div class="back-card">
                                    <h6> A Python project to build a chatbot using natural language processing libraries like NLTK or spaCy, capable of understanding and responding to user queries, performing tasks such as answering questions, providing recommendations, or assisting with customer support.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Admission" role="tabpanel" aria-labelledby="nav-Admission-tab" tabindex="0">
                <div class="admission">
                    <p>The application process comprises three straightforward stages.<br> Candidatesselected for admission will receive offers based on feedback from the interview panel.<br> Successful candidates will be notified via email and phone, and they can secure their seats by paying the admission fee.</p>
                    <div class="admission-card1">
                       
                    </div>
                    <div class="admission-card2">
                       
                    </div>
                    <div class="admission-card3">
                       
                    </div>
                    <div class="admission-image">
 
                    </div>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Fees" role="tabpanel" aria-labelledby="nav-Fees-tab" tabindex="0">
                <div class="fees">
                    <h4>Course Fee</h4>
                    <div class="course-card">
                        <h6>Total Admission Fee</h6>
                        <h6 id="fees-id"><i class="fa-solid fa-indian-rupee-sign"></i>90,000</h6>
                        <hr>
                        <h6 id="caption-fees">Upcoming Application Deadline <span id="deadline-id">26th May 2024</span></h6>
                        <p>Admissions are closed once the requisite number of participants enroll for the upcoming Team.<br>
                           <span id="apply-id"> Apply early to secure your seat.</span>
                        </p>
                        <div class="fee-apply-button">
                            <button class="apply-button" (click)="apply()">Apply now<i class="fa-solid fa-angle-right"></i></button>
 
                        </div>
 
                    </div>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-FAQs" role="tabpanel" aria-labelledby="nav-FAQs-tab" tabindex="0">
                <div class="faqs">
                    <h6>1.What is python Full Stack Development?</h6>
                    <p>Students might want clarification on what python Full Stack Development entails, including the technologies involved and the skills they will acquire.</p>
                    <h6>2.What are the prerequisites for enrolling in the python Full Stack Development course?</h6>
                    <p>Students may inquire about any prior knowledge or skills required before starting the course, such as familiarity with programming languages or software development concepts.</p>
                    <h6>3.What technologies and tools will be covered in the course curriculum?</h6>
                    <p>Students might want to know the specific programming languages, frameworks, databases, and other tools they will learn during the course.</p>
                    <h6>4.Is the course suitable for beginners, or is prior experience required?</h6>
                    <p>Some students may be beginners in programming and want to ensure that the course is suitable for their level of expertise.</p>
                    <h6>5.What is the duration of the course, and how is it structured?</h6>
                    <p>Students may ask about the duration of the course, including the number of hours per week or per day, and how the content is organized (e.g., lectures, practical exercises, projects).</p>
                    <h6>6.Are there any hands-on projects or real-world applications included in the course?</h6>
                    <p>Students often value practical experience, so they may inquire about opportunities to work on projects that simulate real-world scenarios or applications.</p>
                    <h6>7.What are the career prospects for python Full Stack Developers after completing the course?</h6>
                    <p>Students may be interested in learning about job opportunities, salary prospects, and career growth potential in the field of Java Full Stack Development.</p>
                    <h6>8.Is there any certification or accreditation provided upon completion of the course?</h6>
                    <p>Students may ask about the certification they will receive after completing the course and whether it is recognized by industry or educational institutions.</p>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
   
        </div>
    </div>
</div>
 