<div class="maincon"
     style="background-image:url(../../assets/blank-papers-multicolor-pencils-grey\ 1.jpg); background-size: cover; background-position: center; background-attachment: fixed;height: 830px; ">
    <div class="container">
        <h1 style="padding-bottom: 25px; font-size: 35px; font: optional;">Application form</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- First row of fields -->
            <div class="input-group">
                <!-- First Name -->
                <div class="input-field">
                    <label for="firstName">First Name:</label>
                    <input formControlName="firstName" type="text" class="form-control" id="firstName">
                    <div *ngIf="submitted && registerForm.controls['firstName'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['firstName'].errors['required']">
                            * First Name is required
                        </div>
                        <div *ngIf="submitted && registerForm.controls['firstName'].errors['minlength']">
                            * First Name must be at least 4 characters long
                        </div>
                    </div>
                </div>
 
                <!-- Last Name -->
                <div class="input-field">
                    <label for="lastName">Last Name:</label>
                    <input formControlName="lastName" type="text" class="form-control" id="lastName">
                    <div *ngIf="submitted && registerForm.controls['lastName'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['lastName'].errors['required']">
                            * Last Name is required
                        </div>
                    </div>
                </div>
 
                <!-- Email -->
                <div class="input-field">
                    <label for="email">Personal Email:</label>
                    <input formControlName="email" type="email" class="form-control" id="email">
                    <div *ngIf="submitted && registerForm.controls['email'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['email'].errors['required']">
                            * Email ID is required
                        </div>
                    </div>
                </div>
 
                <!-- Mobile Phone -->
                <div class="input-field">
                    <label for="phoneNumber">Mobile Phone:</label>
                    <input formControlName="phoneNumber" type="tel" class="form-control" id="phoneNumber">
                    <div *ngIf="submitted && registerForm.controls['phoneNumber'].errors" class="text-danger">
                        <div *ngIf="submitted && (registerForm.controls['phoneNumber'].errors['required'] || registerForm.controls['phoneNumber'].errors['pattern'])">
                            * Mobile number must be 10 digits
                        </div>
                    </div>
                </div>
               
 
                <!-- Batch Number -->
                <div class="input-field">
                    <label for="batchNo">Batch Number:</label>
                    <input formControlName="batchNo" type="text" class="form-control" id="batchNo">
                    <div *ngIf="submitted && registerForm.controls['batchNo'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['batchNo'].errors['required']">
                            * Batch Number is required
                        </div>
                    </div>
                </div>
                  <!-- Date of Joining -->
                  <div class="input-field">
                    <label for="dateOfJoining">Date of Joining:</label>
                    <input formControlName="dateOfJoining" type="date" class="form-control" id="dateOfJoining">
                    <div *ngIf="submitted && registerForm.controls['dateOfJoining'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['dateOfJoining'].errors['required']">
                            * Date of Joining is required
                        </div>
                    </div>
                </div>
            </div>
          
        
 
            <!-- Second row of fields -->
            <div class="input-group">
                <!-- Course -->
                <div class="input-field">
                    <label for="course">Applying for:</label>
                    <div class="select-wrapper">
                        <select formControlName="course" [ngClass]="{'is-invalid': submitted && registerForm.controls['course'].errors}" class="form-control" id="course" >
                            <option value="" disabled selected>Select Course</option>
                            <option value="java fullstack">Java Fullstack</option>
                            <option value="mulesoft">Mulesoft</option>
                            <option value="python">Python</option>
                        </select>
                        <div class="arrow-down"></div>
                    </div>
                    <div *ngIf="submitted && registerForm.controls['course'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['course'].errors['required']">
                            * Select any Course
                        </div>
                    </div>
                </div>
 
                <!-- Gender -->
                <div class="input-field">
                    <label for="gender">Gender:</label>
                    <div class="select-wrapper">
                        <select formControlName="gender" [ngClass]="{'is-invalid': submitted && registerForm.controls['gender'].errors}" class="form-control" id="gender" >
                            <option value="" disabled selected>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <div class="arrow-down"></div>
                    </div>
                    <div *ngIf="submitted && registerForm.controls['gender'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['gender'].errors['required']">
                            * Select Gender
                        </div>
                    </div>
                </div>
 
                <!-- Username -->
                <div class="input-field">
                    <label for="userName">Username:</label>
                    <input formControlName="userName" type="text" class="form-control" id="userName">
                    <div *ngIf="submitted && registerForm.controls['userName'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['userName'].errors['required']">
                            * Username is required
                        </div>
                    </div>
                </div>
 
                <!-- Password -->
                <div class="input-field">
                    <label for="password">Password:</label>
                    <input formControlName="password" type="password" class="form-control" id="password">
                    <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
                        <div *ngIf="submitted && registerForm.controls['password'].errors['required']">
                            * Password is required
                        </div>
                        <div *ngIf="submitted && registerForm.controls['password'].errors['pattern']">
                            * Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character
                        </div>
                    </div>
                </div>
 
              
            </div>
 
            <!-- Submit Button -->
            <input class="btn btn-primary" type="submit" value="Submit">
 
        </form>
    </div>
</div>
