thead {
    background-color: hwb(218 34% 17%);
  }
  
  thead:hover {
    background-color: #e0ebff;
    cursor: pointer;
  }
  
  
  
  table {
      border-collapse: collapse;
      width: 100%;
    }
  
  tbody tr:hover {
    background-color: #e7f0ff;
  
    cursor: pointer;
  }
  
  .table-bordered {
    border-color: hwb(217 75% 5%);
  }
  
  .search-wrapper {
    position: relative;
  }
  
  .curved-input {
    border-radius: 20px;
    padding-right: 40px;
    width: 300px;
    border-color: hwb(199 40% 10%);
    border-width: 3px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .search-icon i {
    font-size: 18px;
    color: #370d72;
  }
  
  