.container {
    background-color: #f0f0f0; /* Gray background color */
    margin-top: 10px;
    margin-right: 0px;
    padding: 20px; /* Add some padding for spacing */
    width: 1340px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
  }
  .analytics {
    background-color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom:4px;
    padding: 10px; /* Add padding for spacing */
  }
  .card1 {
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom:3px;
    /* border-radius: 5px; */
    padding: 20px;
    /* flex: 0 0 calc(50% - 5px); Each card takes 50% width with 5px space between */
  }
  
  .line {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: relative;
  }
  
  .circle {
    width: 130px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    border: 2px solid gray; /* Add this line for the black border */
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: gray;
    margin-top: 18px;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    flex: 0 0 calc(50% - 5px); /* Each card takes 50% width with 5px space between */
  }
  
  /* .card .left {
    flex: 2;
  } */
  
  .card .right {
    
    margin-left: 10px;
    text-align: right;
  }
  
  /* Style for the link */
  /* .card .right a {
    text-decoration: none;
    color: green;
  } */
  .button-wrapper {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
  }
  #Notifications-button{
    display: inline-block;
    /* padding: 10px 10px; */
    background-color:  hsl(219, 75%, 52%); /* Green background */
    color: white; /* White font color */
    border: none;
    font-size:16px;
    /* margin-bottom: 10px; */
    /* border-radius: 5px; */
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    align-content: center;
  }


  .dot {
    height:18px;
    width:18px;
    line-height: 24px;
    padding-right:19px;
    position: relative;
    right: 23px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  .btn btn-info btn-lg{
    display: inline-block;
    padding: 10px 22px;
    background-color: #28a745; /* Green background */
    color: white; /* White font color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

  }
  .button1 {
    display: inline-block;
    padding: 10px 22px;
    background-color:  hsl(219, 75%, 52%); /* Green background */
    color: white; /* White font color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .button2 {
    display: inline-block;
    padding: 10px 10px;
    background-color:  hsl(219, 75%, 52%); /* Green background */
    color: white; /* White font color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover ,.button1:hover ,.button2:hover, #Notifications-button:hover {
    background-color: #218838; /* Darker green on hover */
  }

