<div class="maincontainer">
    <div class="container1">
        <img src="../../assets/istockphoto-1466890104-170667a.webp" class="background-img" alt="Background Image">
        <div class="card mb-3" style="max-width: 940px; margin-top: 60px; margin-left: 200px;">
            <div class="row no-gutters textedit">
                <div class="col-md-4 d-flex align-items-stretch ">
                    <img src="../../assets/Screenshot 2024-04-04 172741_LE_auto_x2 1.jpg"
                        style="height: 300px; width: 300px ;" class="card-img" alt="...">
                </div>
 
                <div class="col-md-8 d-flex align-items-stretch ">
                    <div class="card-body d-flex flex-column justify-content-between textdemo"
                        style="height: 200px;width: 1500px;padding-right: 80px;padding-top: 40px; margin-left: -20px;">
                        <h2>ABOUT US</h2>
                        <p style="line-height: 1.8em;font-size: 15px;">"Our vision is to redefine the future of learning
                            by
                            harnessing the power of technology to
                            create a world where education is accessible to all, regardless of background or
                            circumstance.
                            We envision a dynamic online learning ecosystem that inspires curiosity, fosters creativity,
                            and
                            empowers individuals to reach their full potential."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fusion-statement text-center">
            <h3>-In fusion, there is power.</h3>
        </div>
    </div>
 
 
    <div class="text-center">
        <h1 style="padding-top: 30px; font-family: serif;">TEAM</h1>
        <h3>Dedication. Expertise. Passion.</h3>
        <p class="team-description">This is your Team section. It's a great place to introduce your team and talk
            about<br>
            what makes it special, such as your culture or work philosophy. Don't be afraid to<br>
            illustrate personality and character to help users connect with your team.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" style="padding-left: 90px;">
            <div class="card cardy mx-auto">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/ceo.png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">C.E.O</h5>
                            <p class="card-text">ASHOK KUMAR</p>
                            <a href="mailto:admin@surnoi.com">ashok.s&#64;surnoi.com</a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/your-facebook-page" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/your-twitter-page" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/akhil-chowdary?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    target="_blank"><i class="fab fa-linkedin"></i></a>
                            </div>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding-right: 90px;">
            <div class="card cardy mx-auto">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/Director (2).png" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> Director</h5>
                            <p class="card-text">SOWMYA</p>
                            <a href="mailto:admin@surnoi.com">sowmyachowdary&#64;surnoi.com</a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/your-facebook-page" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/your-twitter-page" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding-left: 90px;">
            <div class="card cardy mx-auto">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://surnoi.keka.com/files/fb879330-79b6-47bf-977d-969f994d81d7/200x200/profileimage/30f72de648f643eab5148d78880fb251.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">C.O.O</h5>
                            <p class="card-text">AKHIL CHOWDARY</p>
                            <a href="mailto:admin@surnoi.com">akhilchandra&#64;surnoi.com</a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/your-facebook-page" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/your-twitter-page" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="padding-right: 90px;">
            <div class="card cardy mx-auto">
                <div class="row g-0">
                    <div class="col-md-4">
                        
                        <img src="https://surnoi.keka.com/files/fb879330-79b6-47bf-977d-969f994d81d7/200x200/profileimage/5cc5c3df10c441c08e0f1dcaa5e5f9b0.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">H.R</h5>
                            <p class="card-text">DEEPA</p>
                            <a href="mailto:admin@surnoi.com">deepameka&#64;surnoi.com</a>
                            <div class="social-links">
                                <a href="https://www.facebook.com/your-facebook-page" target="_blank"><i
                                        class="fab fa-facebook"></i></a>
                                <a href="https://twitter.com/your-twitter-page" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                            </div>
 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>