<div class="header" style="width: 100%;">
    <nav class="navbar navbar-expand-lg text-white">
      <div class="container-fluid">
        <!-- <a class="navbar p-3 mx-6 logo" href="#">FusionIQ.ai</a> -->
        <img src="../../assets/ai.jpg" alt="" style="width: 170px;height: 80px;">
        <form class="d-flex" role="search">
          <div class="group">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
              <g>
                <path
                  d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                ></path>
              </g>
            </svg>
  
            <input
              id="query"
              class="input search-home"
              type="search"
              placeholder="Search..."
              name="searchbar"
            />
          </div>
        </form>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse new" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-list">
            <li class="nav-item px-3">
              <a class="nav-link active nav-home" aria-current="page" [routerLink]="['/']" style="color: red;">Home</a>
            </li>
            <div class="nav-about">
              <li class="nav-item">
                <a class="nav-link"  [routerLink]="['/About']">About</a>
              </li>
            </div>
            <li class="nav-item dropdown nav-course">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Courses
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Java FullStack</a></li>
                <li><a class="dropdown-item" href="#">Python</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">MuleSoft</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contactinfo']">Contact</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a
                  href="#"
                  class="d-block link-dark text-decoration-none dropdown-toggle"
                  id="dropdownUser1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="https://github.com/mdo.png"
                    alt="mdo"
                    width="32"
                    height="32"
                    class="rounded-circle"
                  />
                </a>
                <ul class="dropdown-menu prfile-menu text-small"aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">My learings</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">My Account</a></li>
                  <li><a class="dropdown-item" href="#">Log out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>