
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
<div class="main-container">
    <div class="home-container">
        <div class="content-container">
            <div class="nav-container">
                <nav class=" nav-bar">
                    <ul class="list">
                        <li><a href="#"class="icon"><i class="fa-solid fa-house"></i></a></li>
                        <li><span class="bar">/</span></li>
                        <li><a href="#" title="Courses" class="courses">Courses</a></li>
                        <li><span class="bar">/</span></li>
                        <li><a href="#" title="Mulesoft" class="mulesoft">MuleSoft</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="title">
                    <h1 id="content-h1">Mulesoft</h1>
                </div>
                <div class="sub-title">
                    <div class="line">
   
                    </div>
                    <div class="caption">
                        <h5>Learn From Industry Experts with Realtime<br> Corporate level training</h5>
                    </div>
                </div>
                <div class="paragraph">
                    <p>Welcome to our transformative MuleSoft course, where we embark on a journey to unlock
                        the power of integration and connectivity in the digital age. In today's rapidly evolving technological
                        landscape, the ability to seamlessly connect disparate systems and applications is paramount for organizations
                        striving to stay ahead of the curve. This course is meticulously crafted to equip you with the skills and
                        expertise needed to become a proficient MuleSoft developer, capable of architecting and implementing robust
                        integration solutions that drive business success.
                    </p>
                </div>
                <!-- <div class="button">
                    <div class="apply-button">
                        <button>Apply now<i class="fa-solid fa-angle-right"></i></button>
                    </div>
                    <div class="Roadmap-button">
                        <button>Download Road Map</button>
                    </div>
                </div> -->
                <div class="btn-container buttons">
                    <button class="apply-button" (click)="apply()">Apply now<i class="fa-solid fa-angle-right"></i></button>
                    <button class="Roadmap-button" (click)="onClick()">Download Road Map</button>
                </div>
            </div>
 
        </div>
        <div class="image-container">
           
        </div>
    </div>
    <div class="Bottom-container">
   
        <nav class="nav-list">
            <div class="nav nav-tabs bottom-buttons" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-Overview-tab" data-bs-toggle="tab" data-bs-target="#nav-Overview" type="button" role="tab" aria-controls="nav-Overview" aria-selected="true">Overview</button>
              <button class="nav-link" id="nav-Mentors-tab" data-bs-toggle="tab" data-bs-target="#nav-Mentors" type="button" role="tab" aria-controls="nav-Mentors" aria-selected="false">Mentors</button>
              <button class="nav-link" id="nav-Curriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-Curriculum" type="button" role="tab" aria-controls="nav-Curriculum" aria-selected="false">Curriculum</button>
              <button class="nav-link" id="nav-Projects-tab" data-bs-toggle="tab" data-bs-target="#nav-Projects" type="button" role="tab" aria-controls="nav-Projects" aria-selected="false">Projects</button>
              <button class="nav-link" id="nav-Admission-tab" data-bs-toggle="tab" data-bs-target="#nav-Admission" type="button" role="tab" aria-controls="nav-Admission" aria-selected="false">Admission</button>
              <button class="nav-link" id="nav-Fees-tab" data-bs-toggle="tab" data-bs-target="#nav-Fees" type="button" role="tab" aria-controls="nav-Fees" aria-selected="false">Fees</button>
              <button class="nav-link" id="nav-FAQs-tab" data-bs-toggle="tab" data-bs-target="#nav-FAQs" type="button" role="tab" aria-controls="nav-FAQs" aria-selected="false">FAQs</button>
            </div>
            <div class="scroll-arrow-container">
                <button class="scroll-arrow-button" onclick="scrollTabs()">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-Overview" role="tabpanel" aria-labelledby="nav-Overview-tab" tabindex="0">
                <div class="Overview">
                    <p>This comprehensive program is designed to provide you with a deep understanding of integration using mulesoft. Led by seasoned industry professionals, this course offers a hands-on approach to mastering the essential skills required to build robust and scalable web applications. <br><span id="span1">Duration:</span> This instructor-led Java Fullstack course is structured to be completed in [X] weeks, with [X] hours of instruction per week.
   
                    <br><span id="span1">Target Audience:</span> This course is suitable for beginners with no prior programming experience as well as intermediate developers looking to enhance their Java Fullstack skills.
                       
                    <br><span id="span1">Prerequisites:</span> While no prior programming experience is required, familiarity with basic programming concepts and a willingness to learn are recommended.</p>
                       
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Mentors" role="tabpanel" aria-labelledby="nav-Mentors-tab" tabindex="0">
                <div class="mentors">
                    <h1>Meet The Mulesoft Mentors</h1>
                    <div class="mentor-line">
   
                    </div>
                    <div class="mentors-box">
                        <div class="mentor-card">
                            <div class="mentor-image">
   
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
   
                        </div>
                        <div class="mentor-card">
                            <div class="mentor-image">
   
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
   
                        </div>
                        <div class="mentor-card">
                            <div class="mentor-image">
                               
                            </div>
                            <div class="mentor-profile">
                                <h4>Mentor name</h4>
                                <a href="#"><img src="https://static.wixstatic.com/media/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png/v1/fill/w_53,h_53,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_9e78da3320da497ab23ce28d738d388a~mv2.png" alt=""></a>
                                <p>I’m a paragraph. Double click me or click Edit Text, it's easy.</p>
                            </div>
                        </div>
                    </div>
   
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Curriculum" role="tabpanel" aria-labelledby="nav-Curriculum-tab" tabindex="0">
                <div class="curriculum">
                    <h6>Here's a glimpse of what the next nine months will entail for you.</h6>
                    <div class="image-line">
 
                    </div>
                    <div class="image-box">
                        <img src="../../assets/image.png" alt="">
 
                    </div>
                    <div class="curriculum-arrow1">
                        <img src="../../assets/down.png" alt="">
 
                    </div>
                    <div class="curriculum-arrow2">
                        <img src="../../assets/down.png" alt="">
 
                    </div>
                    <div class="curriculum-boxes">
                       <div class="box-border1">
                            <div class="icon-box1">
                              <img src="../../assets/developer.png" alt="">
                            </div>
                            <div class="curriculum-box1">
                              <h6>Introducing Application networks and API led connerctivity:</h6>
                              <p> You'll start by mastering the fundamentals of the mulesoft,including integration platforms for connecting applications,data, and devices, introduced the concept of Application Networks and API-led Connectivity to streamline and enhance the process of building integrations and APIs. </p>
                           
                            </div>
                        </div>
                        <div class="box-border2">
                            <div class="icon-box2">
                                <img src="../../assets/market.png" alt="">
                               
                            </div>
                            <div class="mini-box2">
 
                            </div>
                            <div class="curriculum-box2">
                                <h6>Introducing platform of Anypoint:</h6>
                                <p>MuleSoft would typically involve providing an overview of the platform.A web-based development environment for designing APIs, integrations, and data mappings visually.</p>
                                <h6> Designing API's :</h6>
                                <p> Designing APIs in MuleSoft involves a structured approach to creating interfaces that expose the functionalities of your applications or services in a standardized and reusable manner.</p>
   
                            </div>
                        </div>
                        <div class="box-border3">
                            <div class="icon-box3">
                                <img src="../../assets/app-development.png" alt="">
                               
                            </div>
                            <div class="mini-box3">
 
                            </div>
                            <div class="curriculum-box3">
                                <h6>Building API's:</h6>
                                <p>Building APIs in MuleSoft involves in the process of creating and implementing and managing of all APIs using Anypoint. Gain hands-on experience in building APIs using anypoint.Learn how to create and implement and deploy the API.</p>
                                <h6>Deploying & Managing APIs:</h6>
                                <p>Get experience on deplayoing APIs by using anypoint.Learn deployment and environment (CloudHub, on-premises, or hybrid).And learn how to manage ApIs with anypoint.</p>
   
                            </div>
                        </div>
                        <div class="box-border4">
                            <div class="icon-box4">
                                <img src="../../assets/deployment.png" alt="">
                               
                            </div>
                            <div class="mini-box4">
 
                            </div>
                            <div class="curriculum-box4">
                                <h6>Accessing & Modifying Mule events:</h6>
                                <p>Learn accessing and modifying mule events and best practices for Accessing and  Modifying Mule events and explore concepts like chaining and error handling and unit testing.</p>
                                <h6>Structuring Applications :</h6>
                                <p>Apply your knowledge through hands-on projects, where you'll build real-world mule doft applications.applications from scratch. These projects will help reinforce your learning and prepare you for real-world scenarios. </p>
   
                            </div>
                        </div>
                        <div class="border-box5">
                            <div class="mini-box5">
   
                            </div>
                            <div class="curriculum-box5">
   
                            </div>
                           
                        </div>
                    </div>
                    <div class="curriculum-card">
                        <h5>Peek out your window; the dream company approaches. Prepare yourself for placement opportunities.</h5>
                        <div class="placement-card">
                            <div class="p-card1">
                                <div class="p-icon1">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Resume preparation and <br>LinkedIn profile review</p>
                                </div>
                               
                            </div>
                            <div class="p-card2">
                                <div class="p-icon2">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Mock Interviews</p>
                                </div>
       
                            </div>
                            <div class="p-card3">
                                <div class="p-icon3">
       
                                </div>
                                <div class="icon-caption">
                                    <p>Placement Assistance</p>
                                </div>
       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="curriculum-underline">
 
                </div>
                <div class="curriculum-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Projects" role="tabpanel" aria-labelledby="nav-Projects-tab" tabindex="0">
                <div class="projects">
                    <p>Projects will be a part of your <span>Mulesoft</span> Master’s course to consolidate your learning. It will ensure that you have real-world experience in <span>Mulesoft</span></p>
                    <div class="project-container">
                        <div class="project-card1">
                            <div class="main-card">
                                <div class="front-card">
                                    <h4>Integration Platform for E-commerce</h4>
   
                                </div>
                                <div class="back-card">
                                    <h6>A MuleSoft project for integrating various e-commerce platforms (e.g., Shopify, WooCommerce) with ERP systems (e.g., SAP, Oracle) to synchronize product catalogs, orders, and customer data in real-time.</h6>
   
                                </div>
                            </div>
                        </div>
                        <div class="project-card2">
                            <img src="../../assets/sdlc.gif" alt="sdlc">
   
                        </div>
                        <div class="project-card3">
                            <div class="main-card">
                                <div class="front-card">
                                    <h4>API Gateway for Microservices Architecture</h4>
   
                                </div>
                                <div class="back-card">
                                    <h6>A MuleSoft project for implementing an API gateway to manage and secure communication between microservices, including features such as authentication, authorization, rate limiting, and logging.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Admission" role="tabpanel" aria-labelledby="nav-Admission-tab" tabindex="0">
                <div class="admission">
                    <p>The application process comprises three straightforward stages.<br> Candidatesselected for admission will receive offers based on feedback from the interview panel.<br> Successful candidates will be notified via email and phone, and they can secure their seats by paying the admission fee.</p>
                    <div class="admission-card1">
                       
                    </div>
                    <div class="admission-card2">
                       
                    </div>
                    <div class="admission-card3">
                       
                    </div>
                    <div class="admission-image">
 
                    </div>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Fees" role="tabpanel" aria-labelledby="nav-Fees-tab" tabindex="0">
                <div class="fees">
                    <h4>Course Fee</h4>
                    <div class="course-card">
                        <h6>Total Admission Fee</h6>
                        <h6 id="fees-id"><i class="fa-solid fa-indian-rupee-sign"></i>90,000</h6>
                        <hr>
                        <h6 id="caption-fees">Upcoming Application Deadline <span id="deadline-id">26th May 2024</span></h6>
                        <p>Admissions are closed once the requisite number of participants enroll for the upcoming Team.<br>
                           <span id="apply-id"> Apply early to secure your seat.</span>
                        </p>
                        <div class="fee-apply-button">
                            <button class="apply-button" (click)="apply()">Apply now<i class="fa-solid fa-angle-right"></i></button>
 
                        </div>
 
                    </div>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
            <div class="tab-pane fade" id="nav-FAQs" role="tabpanel" aria-labelledby="nav-FAQs-tab" tabindex="0">
                <div class="faqs">
                    <h6>1.What is MuleSoft?</h6>
                    <p>MuleSoft is an integration platform that allows organizations to connect various applications, data, and devices across different environments.</p>
                    <h6>2.What are the job prospects for MuleSoft developers?</h6>
                    <p>MuleSoft developers are in high demand as companies across industries are adopting MuleSoft to integrate their systems and streamline their operations. Job roles such as MuleSoft Developer, Integration Architect, and API Developer are common in the market.</p>
                    <h6>3.What are the prerequisites for learning MuleSoft?</h6>
                    <p>While prior programming experience is not always required, having a basic understanding of programming concepts and familiarity with Java or other programming languages can be beneficial. A willingness to learn and adapt to new technologies is also important.</p>
                    <h6>4.What does the MuleSoft certification process involve?</h6>
                    <p>MuleSoft offers various certifications for developers, architects, and administrators. These certifications validate your expertise in MuleSoft technologies and can enhance your career prospects. The certification process typically involves studying for and passing an exam administered by MuleSoft.</p>
                    <h6>5.What kind of projects can I expect to work on after learning MuleSoft?</h6>
                    <p>MuleSoft developers often work on projects involving system integrations, API development, data synchronization, and digital transformation initiatives. Projects can vary widely depending on the industry and the specific needs of the organization.</p>
                    <h6>6.What is the duration of the MuleSoft course, and what is the class schedule like?</h6>
                    <p>Students often want to know how long the course will take and when classes are held to plan their time accordingly.</p>
                    <h6>7.Is there any assistance provided for job placement or career advancement after completing the course?</h6>
                    <p>Students may want to know if the institute offers career services such as resume assistance, interview preparation, or job placement assistance to help them transition into the workforce.</p>
                    <h6>8.What is the certification process, and is certification included in the course?</h6>
                    <p>Students may be interested in obtaining industry-recognized certifications and may ask about the certification process, exam fees, and whether certification is included as part of the course.
                    </p>
                </div>
                <div class="fees-underline">
 
                </div>
                <div class="fees-underline-gap">
                   
                </div>
            </div>
   
        </div>
    </div>
</div>